<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER" />
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault"
        android:fullBackupContent="@xml/backup_rules">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <meta-data
            android:name="com.google.android.wearable.capabilities"
            android:resource="@xml/wearable_capabilities" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".complication.GlucoseComplicationProviderService"
            android:exported="true"
            android:label="Glucose">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.watchface.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT,RANGED_VALUE,GOAL_PROGRESS,WEIGHTED_ELEMENTS" />
            <meta-data
                android:name="androidx.wear.watchface.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>

        <service
            android:name=".receiver.GlucoseDataReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/glucose" />
            </intent-filter>
        </service>

    </application>
</manifest>
